.navbar .navbar-brand {
    display: inline-block;
    background-image: linear-gradient(to right, rgb(77, 149, 190)  ,  rgb(68, 212, 214) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.navbar-brand {
    font-weight: 700;
}

.nav-link span{
    margin-left: 5px;
}

.nav-link, 
.btn-menu,
span{
    display: flex;
    align-items: center;
}

.btn-menu{
    color: rgb(78, 177, 216); 
}


@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }
}



