.display-flex-basics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* -------------------------- FORM ALL --------------------------- */
.form-container{
    width: 25em;
    height: 30em;
    box-shadow: 0px 3px 7px -1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    padding: 10px 0;
}

.box__logo{
    width: 100%;
}

.box__logo h1{
    font-size: 14px;
    font-weight: 500;
    color: rgb(167, 161, 161)
}

.logo{
    width: 14rem;
    height: auto;
}

/* ------------------------- FORM LOGIN ------------------------- */
.form{
    height: 50%;
    width: 90%;
}

.form-inputs{
    width: 70%;
    margin-bottom: 0.5em;
}

/* inputs */
.form-control{
    padding-left: 10px;
    outline: none;
    height: 40px;
    font-size: 16px;
    display: flex;
}

.form-control:focus{
    box-shadow: none;
}

/* ---------- BUTTONS ----------*/
.form-input-btn {
    width: 70% ;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    letter-spacing: 0.3px;
    transition: all 0.8s ease-out !important;

    background: linear-gradient(
    90deg,
    rgb(77, 149, 190) 0%,
    rgb(68, 212, 214) 100%
    );
}

.form-input-btn:hover{
    color: #fff;
    background: linear-gradient(
    90deg,
    rgb(68, 212, 214) 0%,
    rgb(77, 149, 190) 100%
    );
}

.alert{
    padding: 0.3rem 0.5rem;
    font-size: 0.8em;
}