h1{
    font-weight: 300;
}

.logo-box,
.primary-heading{
    display: flex;
    justify-content: center;
}

.primary-heading{
    margin-top: 10px;
    margin-bottom: -5px;
}

.logo-femass{
    width: 22%;
}

.btn-matricula{
    position: absolute;
    bottom: 120px;
    width: 100px;
    
}

.box__questionarios h2{
    color: #555;
    font-size: 1.7rem;
    font-weight: 300;
    margin-right: 10px;
}



@media (max-width: 997px) {
    .btn-matricula{
        bottom: 80px;
    }
}

@media (max-width: 790px) {
    .btn-matricula{
        bottom: 20px;
    }
}